body {
  font-family: "Irish Grover", cursive;
  text-align: center;
  padding: 80px;

  background: #000000;
  background-image: url("https://cdn.pixabay.com/photo/2021/10/06/08/34/halloween-6685071_960_720.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  color: #fff;
}

p {
  margin: 0;
  font-size: 60px;
  margin-bottom: 30px;
}

.timer {
  display: flex;
  justify-content: center;
}

.field {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

.field-last {
  margin-right: 0;
}

.value {
  font-size: 80px;
}
